@using MVCShopAdo.Models
@model CategoryViewModel


<form class="was-validated" method="post" action="~/Category/EditCategory">

    @Html.AntiForgeryToken()
    <div class="modal-content" style="width:100%" id="editmodal">
        <div class="modal-header">
            <h4 class="modal-title" id="editModalLabel">Category edit</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <input id="categoryId" name="CategoryId" type="hidden" value="@Model.CategoryId" />
                <label for="categoryname">Category name</label>
                <input class="form-control form-control-lg col-12" type="text" id="categoryname" name="CategoryName"
                       value="@Model.CategoryName" required />
                @Html.ValidationMessageFor(x => x.CategoryName)
                <div class="invalid-feedback">Please enter a category name</div>
                <div id="dialog-alert"></div>
            </div>
        </div>
        <div class="modal-footer d-flex">
            <button type="button" class="btn btn-secondary mr-auto" data-dismiss="modal">Close</button>
            @if (Model.CategoryId == 0)
            {
                <button name="action" type="submit" class="btn btn-info" value="add">Add category</button>
            }
            else
            {
                <button name="action" type="submit" class="btn btn-warning mr-auto" value="save">Save change</button>
                <button name="action" type="submit" class="btn btn-danger" value="delete">Delete</button>

            }
        </div>
    </div>
</form>