@using MVCShopAdo.Models
@model IEnumerable<CategoryView>
@{
    ViewBag.Title = "Categories";
    var options = new AjaxOptions
    {
        UpdateTargetId = "info"
    };
}
<br>
<h2>Categories</h2>

<div id="info">
    @Html.Action("TableCategories")
</div>

<div id="paging" style="text-align:right;">
    @for (int i = 0; i < ViewBag.PageCount; i++)
    {
        @Html.ActionLink($"{i + 1}", "Categories", new { @id = i + 1 }, 
       new { @class = "btn btn-outline-secondary", @style = "margin-right:5px;" })
    }
</div>

