
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered table-dark">
    <thead>
        <tr >
            <th style="text-align:center">Goods</th>
            <th style="text-align:center">Categories</th>
            <th style="text-align:center">Manufacturer</th>
        </tr>
    </thead>
    <tbody>
        <tr align="center">
            <td>
                <a class="btn btn-success" href="/Shop/Goods/">
                    Go to goods
                </a>
            </td>
            <td>
                <a class="btn btn-success" href="/Shop/Categories/">
                    Go to categories
                </a>
            </td>
            <td>
                <a class="btn btn-success" href="/Shop/Manufacturer/">
                    Go to manufacturer
                </a>
            </td>
        </tr>
    </tbody>
</table>
