
@{
    ViewBag.Title = "Manufacturer";
}

<h2>Manufacturer</h2>


<table class="table table-bordered">
    <thead>
        <tr>
            <th style="text-align:center">Id</th>
            <th style="text-align:center">Manufacturer</th>
            <th style="text-align:center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in ViewBag.Manufacturer)
        {
        <tr>
            <td>@m.ManufacturerId</td>
            <td>@m.ManufacturerName</td>
            <td style="text-align:center">
                @Html.ActionLink("Delete", "DeleteManufacturer", new { @id = m.ManufacturerId }, 
               new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
        }
    </tbody>
</table>
<div id="paging" style="text-align:right;">
    @for (int i = 0; i < ViewBag.PageCount; i++)
    {
        @Html.ActionLink($"{i + 1}", "Manufacturer", new { @id = i + 1 }, new { @class = "btn btn-outline-secondary", @style = "margin-right:5px;" })
    }
</div>
