@using MVCShopAdo.Models
@model IEnumerable<ManufacturerView>
@{ 
    ViewBag.Title = "Manufacturer";
    var options = new AjaxOptions
    {
        UpdateTargetId = "info"
    };
}

<br>
<h2>Manufacturer</h2>

<div id="info">
    @Html.Action("TableManufacturers")
</div>

<div id="paging" style="text-align:right;">
    @for (int i = 0; i < ViewBag.PageCount; i++)
    {
        @Html.ActionLink($"{i + 1}", "Manufacturer", new { @id = i + 1 }, new { @class = "btn btn-outline-secondary", @style = "margin-right:5px;" })
    }
</div>
