@using MVCShopAdo.Models
@model IEnumerable<ManufacturerViewModel>

<table class="table table-bordered">
    <thead>
        <tr>
            <th style="text-align:center">Id</th>
            <th style="text-align:center">Manufacturer</th>
            @if (ViewBag.UserRole == 1)
            {
                <th style="text-align:center;">Action</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var man in Model)
        {
            <tr>
                <td>@man.ManufacturerId</td>
                <td>@man.ManufacturerName</td>
                @if (ViewBag.UserRole == 1)
                {
                    <td style="text-align:center">
                        @Html.ActionLink("Edit", "EditManufacturer", "Manufacturer", new { @id = man.ManufacturerId },
                         new { @class = "btn btn-outline-info btn-block compItem", @toggle = "modal", @target = "#editModal" })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>